*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}


/* default CSS styles */

.container{
    width: 75%;
    margin: 0 auto;
}

/* banner related styles */

.banner{
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

.banner-content {
    color: white;
    text-align: center;
    padding: 220px 0;
    width: 400px;
    margin: auto;
}

.banner-content h3 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-content h1 {
    font-size: 50px;
    font-family: "Merriweather", serif;
    font-weight: 900;
}


/* discount related styles */

section.discount {
    margin-top: 130px;
    text-align: center;
    margin-bottom: 130px;
}

section.discount h1 {
    font-size: 50px;
    color: red;
    margin-bottom: 30px;
}

section.discount p {
    color: red;
    font-size: 14px;
}

section.discount h2 {
    font-size: 28px;
    margin-top: 10px;
}

section.discount img {
    width: 500px;
    margin-top: 40px;
}


/* gift related styles */

.gift{
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    border-radius: 8px;
    margin-bottom: 130px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    align-items: center;
}

.gift-content {
    color: white;
    padding-left: 60px;
}

.gift-content h1 {
    font-size: 40px;
    font-family: 'Merriweather';
    font-weight: 900;
    margin-bottom: 15px;
    width: 400px;
    line-height: 55px;
    letter-spacing: 5px;
}

.gift-content p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 22px;
    margin-bottom: 25px;
}

.gift-content button {
    background: no-repeat;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: blanchedalmond;
    margin-left: 25px;
}

.gift-img img {
    width: 220px;
    padding: 50px 70px;
}


/* event related styles */

section.event {
    text-align: center;
    line-height: 40px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    border-radius: 5px;
    margin-bottom: 130px;
}

section.event h2 {
    font-weight: 600;
}

section.event span {
    color: red;
}

section.event button {
    border: none;
    background: red;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 30px;
}

.event-content {
    padding: 80px 0px;
}


/* offer related styles */

section.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-bottom: 130px;
}

.offer-left {
    width: 100%;
}

.offer-middle {
    width: 100%;
}

.offer-right {
    width: 100%;
}

.offer-left h3 {
    color: red;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 16px;
}

section.offer h1 {
    font-weight: 900;
    font-family: 'Merriweather';
    font-size: 32px;
}

.offer-left p {
    font-size: 14px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 15px;
}

.offer-middle img {
    width: 220px;
    border: 10px solid red;
    border-radius: 50%;
    padding: 30px;
}

.offer-right h1 {
    color: red;
    font-weight: 700;
    margin-bottom: 15px;
}

.offer-right p {
    font-size: 14px;
    color: rgba(7, 2, 17, 0.6);
}

.offer-right img {
    width: 100px;
    margin-top: 25px;
}


/* sales related styles */

.sales-content {
    text-align: center;
}

.sales-content h3 {
    font-weight: 500;
}

.sales-content h1 {
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: 900;
    font-family: 'Merriweather';
}

.sales-content p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 14px;
    width: 610px;
    margin: auto;
}

.sales-content span{
    color: red;
    font-family: 'Merriweather';
}

.sales-second-img img {
    width: 100%;
    border-radius: 10px;
}

.sales-first-img {
    display: flex;
    justify-content: space-between;
}

.group-one img {
    width: 500px;
    position: relative;
    top: 150px;
}

.group-two img {
    position: relative;
    top: 100px;
}

.sales-img {
    margin-top: -70px;
}


/* product related styles */

section.product {
    margin-top: 130px;
    margin-bottom: 130px;
}

.product-content h3 {
    color: red;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.product-content h1 {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 900;
    font-family: 'Merriweather';
}

.product-content p {
    font-size: 14px;
    color: rgba(7, 2, 17, 0.6);
    width: 620px;
    margin-bottom: 40px;
}

.items-one {
    display: flex;
    gap: 30px;
}

.items-two {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.item img {
    width: 100%;
}


/* subscribe related styles */

.subscribe{
    background-color:rgba(255, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 130px;
}

.subscribe-content {
    text-align: center;
    padding: 70px 150px;
}

.subscribe-content img {
    width: 120px;
}

.subscribe-content h1 {
    font-size: 35px;
    font-weight: 900;
    margin-top: 20px;
    font-family: 'Merriweather';
    margin-bottom: 20px;
}

.subscribe-content p {
    font-size: 14px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 30px;
}

.subscribe-content input {
    border: none;
    padding: 15px 20px;
    border-radius: 22px 0px 0px 22px;
    position: relative;
}

.subscribe-content button {
    border: none;
    background: red;
    padding: 15px 25px;
    border-radius: 0px 22px 22px 0px;
    position: relative;
    margin-left: -4px;
    color: white;
}


/* footer related styles */

.footer{
    background-color: black;
}

.footer-content {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.footer-left-content p {
    margin-bottom: 10px;
}

.footer-right-content p {
    margin-bottom: 10px;
}

.footer-icons {
    text-align: center;
    margin-top: 70px;
}

.footer-icons.container img {
    width: 35px;
    margin-right: 10px;
}

.footer-text{
    padding-bottom: 50px;
}

.footer-text {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}